body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
    max-width: 720px;
}

/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar_entry {
    float: left;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar_entry a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_entry a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
