<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hanabi Competitions</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!--link rel="icon" type="image/png" href="images/icons/favicon.ico"/-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<main>
    <h1>Hanabi Competitions</h1>
</main>
</body>
</html
